body {
  background-color: :#474a4b;
  color: #5dd9e2;
  width: 500px;
  margin-right: auto;
  margin-left: auto;
}
button {
  padding: 5px 20px;
  background-color: #ec4c8f;
  color: #fdffff;
  border-color: #FDFFFF;
  border-style: none;
}
input {
  height: 20px;
}
